.podcast {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: var(--bg-podcasts);
    padding: 32px 48px;
  }
  &__wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 48px;
    font-size: 32px;
    color: var(--card-heading);
  }
}
