.btn {
  display: block;
  width: fit-content;
  padding: 11px 22px;
  background-color: var(--btn-background);
  color: var(--btn-text);
  border-radius: 12px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
}
