@keyframes rotate-up {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes rotate-down {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes slide-down {
  0% {
    max-height: 0;
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    max-height: 500px;
    opacity: 1;
    transform: translateY(-10px);
  }
}

@keyframes slide-up {
  0% {
    max-height: 500px;
    opacity: 1;
    transform: translateY(-10px);
  }
  100% {
    max-height: 0;
    opacity: 0;
    transform: translateY(-30px);
  }
}

.filter-outer {
  margin-bottom: 32px;

  .article-label {
    width: fit-content;
    background-color: var(--filter-tag);
  }
}

.tags-wrapper {
  width: 100%;
  background-color: var(--card-background);
  border-radius: 0 0 12px 12px;
  margin-bottom: 32px;
  padding: 14px 32px;

  overflow: hidden;
  animation-fill-mode: forwards;
  transform-origin: top;

  &--expanded {
    animation: slide-down 0.8s ease forwards;
  }

  &--collapsed {
    animation: slide-up 0.8s ease forwards;
  }
}

.filter-block {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  background-color: var(--card-background);
  border-radius: 12px;

  padding: 14px 32px;

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 45px;

    &--big {
      width: 100%;
      justify-content: space-between;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: 7px;
    color: var(--card-text-secondary);
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0.3px;
    transition: all 0.2s ease-in-out;

    svg {
      width: 11px;
      height: 11px;
    }

    svg path {
      transition: all 0.2s ease-in-out;
    }

    &:hover {
      color: var(--card-link);

      svg path {
        fill: var(--card-link);
      }
    }
  }
}

.filter-block__btn--active svg {
  animation: rotate-up 0.3s ease forwards;
}

.filter-block__btn:not(.filter-block__btn--active) svg {
  animation: rotate-down 0.3s ease forwards;
}

.tags-list {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  margin-bottom: 32px;
  padding-top: 20px;
}

.reset-btn {
  display: block;
  margin-left: auto;
  padding-bottom: 10px;
  color: var(--page-accent-bright);
}

.tag-btn {
  position: relative;

  &__active {
    // background-color: var(--page-accent-bright);

    .article-label {
      padding-right: 24px;
      background-color: var(--page-accent-bright);
      color: #ffffff;
    }
  }
}

.cross-btn {
  width: fit-content;
  position: absolute;
  top: 4px;
  right: 5px;
  width: 14px;
  height: fit-content;

  svg {
    width: 14px;
    height: 14px;
  }
}

.over-btn {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
