.message {
  margin-right: 107px;
  padding: 13px 19px;
  max-width: 302px;
  width: 100%;
  background-color: var(--card-background);
  border-radius: 20px 20px 0 20px;
  color: var(--card-text);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.dog-helper {
  position: relative;
  display: flex;
  gap: 58px;
  align-items: flex-start;

  img {
    position: absolute;
    top: 43px;
    right: 0;
    width: 80px;
    height: 80px;
  }
}
