.header {
  padding: 9px 0;
  z-index: 2000;
  background-color: var(--page-background);
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.menu-list {
  display: flex;
  align-items: center;
  gap: 27px;
  color: var(--card-text-secondary);
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;

  &__extra {
    position: relative;
    padding-right: 20px;

    &::after {
      position: absolute;
      top: 10px;
      right: 0;
      content: '';
      width: 10px;
      height: 10px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 10px 10px;
      background-image: url('../../assets/images/arrow-down.svg');
    }
  }

  &__item {
    a {
      transition: all 0.2s ease-in-out;
    }

    a:hover {
      color: var(--card-link);
    }

    &--active {
      color: var(--page-heading);
    }
  }
}

.round-btn {
  width: 34px;
  height: 34px;
  border: 1px solid var(--card-stroke);
  border-radius: 50px;
  transition: all 0.2s ease-in-out;

  svg {
    position: relative;
    bottom: -2px;
  }

  svg path {
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    background-color: var(--page-accent);

    svg path {
      stroke: var(--page-background);
    }
  }
}

.btn-account {
  width: 34px;
  height: 34px;
  border-radius: 50px;
  background-color: var(--page-accent-bright);
  transition: all 0.2s ease-in-out;

  svg {
    position: relative;
    bottom: -4px;
  }

  svg path {
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    background-color: #d5e4f7;

    svg path {
      fill: var(--page-accent-bright);
    }
  }
}

.panel-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.search {
  width: 100%;
  padding: 9px 16px;
  border: 1px solid var(--card-stroke);
  border-radius: 50px;
  font-size: 12px;
  line-height: 14px;
  color: var(--card-text-secondary);

  &::placeholder {
    font-size: 12px;
    line-height: 14px;
    color: var(--icons-light);
  }
}

.search-btn {
  position: absolute;
  top: 0;
  right: 4px;

  button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    & + svg path {
      transition: all 0.2s ease-in-out;
      stroke: var(--search-icon);
    }

    &:disabled:hover + svg path {
      stroke: var(--search-icon);
    }

    &:hover + svg path {
      stroke: var(--page-accent-bright);
    }
  }
}

.input-wrapper {
  position: relative;
  min-width: 196px;
}

.panel--big {
  margin-left: auto;
  width: 85%;
  transition: all 0.6s ease-in-out;
}
