@use "../../assets/styles/variables.scss" as *;
@use "../../assets/styles/fonts.scss" as *;

.header {
  width: 100%;
  margin: 0 auto;
  background-color: $headerBackground;
}

.container {
  padding: 9px 48px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.navList,
.infoList {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
}

.navList {
  @include headerNavList();
}

.infoList {
  @include headerInfoList();
}

.productsBtn {
  background-color: transparent;
}

.menuLink {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.managementBar {
  display: flex;
  flex-wrap: nowrap;
  gap: 13px;
}

.themeBtn,
.accountBtn {
  border: none;
  width: 34px;
  cursor: pointer;
  transition: background-image 0.3s ease-in-out;
  background-color: transparent;
}

.themeBtn {
  background-image: url(../../assets/imgs/ThemeIcon.svg);
  background-size: 34px;
}

.accountBtn {
  background-image: url(../../assets/imgs/AccountIcon.svg);
  background-size: 34px;
}

.themeBtn:hover {
  background-image: url(../../assets/imgs/ThemeIconHover.svg);
  background-size: 34px;
}

.accountBtn:hover {
  background-image: url(../../assets/imgs/AccountIconHover.svg);
  background-size: 34px;
}

.hidden {
  display: none;
}
