.videocard {
  position: relative;
  background-color: var(--card-background);
  border-radius: 12px;
  max-height: 349px;
  width: 31%;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  margin-bottom: 48px;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80%;
    background: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.95) 0%,
      rgba(255, 255, 255, 0.8) 20%,
      rgba(255, 255, 255, 0.3) 40%,
      rgba(255, 255, 255, 0.15) 60%,
      rgba(255, 255, 255, 0.05) 80%,
      rgba(255, 255, 255, 0) 100%
    );
    z-index: 1;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  &__image-wrapper {
    position: relative;
    overflow: hidden;
    z-index: 0;
  }

  &__image {
    width: 100%;
    display: block;
    position: relative;
    z-index: 0;
  }

  &__title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #ecf1f6;
    font-size: 24px;
    line-height: 28px;
    z-index: 2;
    transition: opacity 0.3s ease;
  }

  &__text {
    font-size: 16px;
    line-height: 24px;
    color: var(--card-text);
    padding: 16px;
  }

  &__play-img,
  &__time,
  &__category {
    position: absolute;
    top: 0;
    z-index: 3;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &__time,
  &__category {
    border-radius: 5px;
    background-color: #363b499c;
    font-size: 16px;
    color: #c9d1d9;
    padding: 3px 5px;
  }

  &__play-img {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__time {
    left: 12px;
    top: 12px;
  }

  &__category {
    right: 12px;
    top: 12px;
  }

  &:hover {
    &::after {
      opacity: 0;
    }

    .videocard__title {
      opacity: 0;
    }

    .videocard__play-img,
    .videocard__time,
    .videocard__category {
      opacity: 1;
    }
  }
}
