@use "./variables.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@mixin Inter($font-size, $font-weight, $line-height) {
  font-family: "Inter", sans-serif;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

@mixin headerNavList() {
  @include Inter(16px, 500, 28px);
  color: $blackText;
}

@mixin headerInfoList() {
  @include Inter(16px, 400, 28px);
  color: $greyText;
}
