.tag-link {
  position: relative;
  color: var(--page-link);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;

  &::after {
    position: absolute;
    content: '';
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--page-link);
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }

  &:not(:last-child) {
    margin-right: 14px;
  }

  &:hover {
    &::after {
      opacity: 1;
    }
  }
}
