.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 15px;
  line-height: 21px;
  color: var(--card-text-secondary);

  a {
    position: relative;

    &:last-child {
      color: var(--page-heading);
    }

    &:not(:last-child)::before {
      position: absolute;
      top: 0;
      right: -12px;
      content: '/';
    }

    &:not(:last-child):hover {
      color: var(--card-link);
    }
  }
}
