.news-section {
  padding-top: 60px;
  padding-bottom: 60px;

  &__container {
    position: relative;
  }

  &__wrapper {
    padding: 30px 0 32px 0;
    background-color: var(--page-accent-secondary);
    position: relative;
  }

  .title {
    font-size: 33px;
    margin-bottom: -7px;
  }
}

.news-slider__nav {
  position: absolute;
  display: flex;
  gap: 12px;
  height: 40px;
  width: fit-content;
  top: 4px;
  right: 50px;
}
