.second-banner {
  padding: 60px 0 60px 0;

  &__container {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 110px;

    &::before {
      position: absolute;
      bottom: 50%;
      right: 0;
      content: '';
      width: 480px;
      height: 310px;
      background-image: url('../../assets/images/banner-second.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 480px 310px;
      transform: translateY(50%);
    }
  }

  &__wrapper {
    padding: 87px 0 87px 0;
    background-color: #152553;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 22px;
    font-size: 20px;
    line-height: 26px;
    color: var(--text-banner-blue);
  }

  .title {
    max-width: 35%;
    font-weight: 600;
    font-size: 39px;
    color: var(--text-banner-blue);
  }

  .content-wrapper {
    max-width: 26%;
  }
}
