.news-section {
  padding-top: 60px;
  padding-bottom: 60px;

  &__wrapper {
    padding: 30px 0 32px 0;
    background-color: var(--page-accent-secondary);
  }

  .title {
    font-size: 33px;
  }
}
