.department-link {
  position: relative;
  font-size: 20px;
  line-height: 26px;
  color: var(--card-text-secondary);
  transition: all 0.2s ease-in-out;

  svg path {
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    color: var(--card-link);
  }

  &:hover svg path {
    fill: var(--card-link);
  }

  span {
    padding-right: 13px;
  }

  &__arrow {
    width: 15px;
    height: 15px;
    transform: rotate(-90deg);
  }
}
